/* Default Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home.css */
.home {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.content-section {
  display: flex;
  flex: 1;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.fitnav-info {
  text-align: left;
}

.fitnav-info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.fitnav-info p {
  font-size: 1.2rem;
  color: #666;
}

.right-section {
  position: relative;
  width: 50%;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-left: 1px solid #ccc;
  position: sticky;
  top: 0;
}

.open {
  width: 70%;
  max-width: 400px;
}


/* Chat Application */

.chat-container {
  height: 100%;
  background-color: #f7f9fc;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-message {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: flex-start;
}

.fitnav {
  background-color: #60a5fa;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.user {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: left;
}

.message-sender {
  font-weight: bold;
}

.message-text {
  margin: 5px 0;
}

.search-bar {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-bar button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* ... (rest of your styles) */
